.playground {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 250px;
    gap: 50px;
    border: 1px solid;
    border-radius: 16px;
    padding: 8px;
}

.field {
    background-color: rgb(125, 0, 0);
    width: 50px;
    height: 50px;
}

.field.mole {
    background-color: black;
}

h1 {
    background-image:linear-gradient(90deg,green,brown,black);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}